body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.tenor.com%2Fimages%2F54e763f7bf7268054d7bb08b79013390%2Ftenor.gif%3Fitemid%3D16308440&f=1&nofb=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }